body{
  background-color:  hsl(225, 100%, 94%);
  text-align: center;
  margin: 0;
}

.sam{
  font-size: 1.2rem;
  text-decoration: none;
}
.attribution {
  font-size: 0.75rem;
  position: relative;
  bottom: 300px;
}
.attribution a { color: hsl(228, 45%, 44%); }

.three-boxes{
  background-color: hsl(225, 100%, 98%);
  max-width: 350px;
  margin: 0 auto;
  border-radius: 20px;
}

.music-icon{
  float: left;
  margin: 20px 20px;
}

.annual{
  position: relative;
  right: 80px;
  top: 15px;
}


.cancel{
  font-size: 1.2rem;
}
.change{
  position: relative;
  left: 80px;
  bottom: 40px;
}

.pattern{
  display: block;
}

.song-text{
  width:60%;
  margin: 0 auto;
}

.hero{
  border-radius: 20px 20px 0 0;
}
.illustration{
  margin: 0 auto;
  position: relative;
  left: 50px;
  bottom: 400px;
}

.middle-container{
  background-color: white;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  bottom: 405px;
  left: 50px;
  border-radius: 0 0 20px 20px;
}


.btn {
    margin: 20px auto;
    width: 300px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   font-weight: 100;
   padding: 19px;
   background-color: #3829E0;
   -webkit-box-shadow: 0 9px 21px 4px #423D7C;
   -moz-box-shadow: 0 9px 21px 4px #423D7C;
   box-shadow: 0 9px 21px 4px #423D7C;
   border: solid #3829E0 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
